<aside class="fixed top-0 left-0 z-50 h-screen
          w-16 hover:w-48
          theme-sidebar backdrop-blur-xl border-r
          transition-[width] duration-300 ease-[cubic-bezier(0.25,0.1,0.25,1)]
          overflow-hidden group
          flex flex-col">

  <div class="h-16 flex items-center shrink-0 border-b theme-sidebar-header backdrop-blur sticky top-0 z-10">
    <div class="flex items-center gap-3 px-3.5 w-full">
      <div class="h-9 w-9 rounded-xl theme-brand-gradient text-white
               font-bold text-lg flex items-center justify-center shrink-0 shadow-sm">
        H
      </div>

      <span class="text-xl font-semibold theme-text-primary tracking-tight whitespace-nowrap
               max-w-0 opacity-0
               group-hover:max-w-[160px] group-hover:opacity-100
               transition-all duration-300 delay-75">
        CRM
      </span>
    </div>
  </div>

  <!-- Menu Wrapper -->
<nav class="mt-4 px-2 flex flex-col flex-1 min-h-0">

  <!-- Scrollable Menu Area -->
  <div class="flex-1 min-h-0 overflow-y-auto space-y-1.5 pr-1 pb-3">

    <!-- Dashboard links here -->
    <a routerLink="/dashboard"
       routerLinkActive="theme-sidebar-link-active"
       class="flex items-center gap-3 h-10 px-2 py-3 my-2 rounded-lg text-md font-medium
              theme-sidebar-link transition-all duration-200">

      <div class="h-7 w-7 rounded-md theme-brand-gradient
                  text-white text-lg flex items-center justify-center shrink-0">
        D
      </div>

      <span>Dashboard</span>
    </a>

  </div>

  <!-- Sticky Bottom Sign Out -->
  <div class="border-t theme-sidebar-footer pt-3 pb-4 backdrop-blur">
    <a routerLink="/settings"
       routerLinkActive="theme-sidebar-link-active"
       class="mb-2 flex items-center gap-3 h-10 px-2 rounded-lg text-[13px] font-medium
              theme-sidebar-link transition-all duration-200">

      <div class="h-7 w-7 rounded-md theme-brand-gradient
                  text-white text-lg flex items-center justify-center shrink-0">
        S
      </div>

      <span>Settings</span>
    </a>

    <button type="button" (click)="logout()"
       class="flex w-full items-center gap-3 h-10 px-2 rounded-lg text-[13px] font-medium
              theme-danger-btn transition-all cursor-pointer">

      <div class="h-7 w-7 rounded-md theme-brand-gradient
                  text-white text-lg flex items-center justify-center shrink-0">
        SO
      </div>


      <span>Sign Out</span>
    </button>
  </div>

</nav>

</aside>
