/avyra-crm/node_modules
/avyra-crm/dist
/avyra-crm/build
/avyra-crm/.env
/avyra-crm/.env.local
/avyra-crm/.env.development
/avyra-crm/.env.production
/avyra-crm/.env.test
/avyra-crm/.angular
/avyra-crm/node_modules

/crm-backend/node_modules
/crm-backend/dist
/crm-backend/build
/crm-backend/.env
/crm-backend/.env.local
/crm-backend/.env.development
/crm-backend/.env.production
/crm-backend/.env.test